requests
networkx
lxml
psycopg2
sortedcontainers
docker
beautifulsoup4
pydantic
pytest
pytest-env
pytest-docker
pytest-cov
pytest-xdist
pytest-httpserver
pytest-lazy-fixtures
attrs
jsonschema
typing-extensions
jsonpath-ng
typing_extensions
fhir.resources
urllib3
python-dotenv
antlr4-python3-runtime
black
json_source_map
fastjsonschema
pyyaml
isodate
